<div>
    <button ng-click="vm.backToPlayList()">Back</button>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Song Title</th>
                <th>Song Artist Name</th>
                <th>Song Playtime</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in vm.songs">
                <th scope="row"> {{vm.songs.indexOf(song) + 1}} </th>
                <td> {{song.data.songTitle}} </td>
                <td> {{song.data.artistName}} </td>
                <td> {{song.data.songPlayTime}} </td>
            </tr>
        </tbody>
    </table>
</div>