<div>
    <button ng-click="vm.showArtist()">Back</button>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>STT</th>
                <th>Song Title</th>
                <th>Song Genre</th>
                <th>Song PlayTime</th>
                <th>Song Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in vm.songs">
                <th scope="row">{{vm.songs.indexOf(song) + 1}}</th>
                <td> {{song.songTitle}} </td>
                <td> {{song.songGenreName}} </td>
                <td> {{song.songPlayTime}} </td>
                <td> {{song.songReleaseDate | date:'yyyy-MM-dd'}} </td>
            </tr>
        </tbody>
    </table>
</div>